.angle {
  position: fixed;
  width: 200%;
  height: 200%;
  background-color:$color4;
  z-index: -1;
  transform: translateX(0%) rotate(0deg);
  transition: all 2s ease;
}
.angle2 {
  transform: translateX(20%) rotate(45deg);
}

#main {
  height: 90%;
  width: 90%;
  //margin: 5%;
  background-color: $color4;
  box-shadow: 0 0 15px rgba(0,0,0,.20);
  border-radius: 3px;
  position: absolute;

  transform: translate3d(-50%,-50%,0);
  top: 50%;
  left: 50%;
  background-clip: content-box;

}

#main::-webkit-scrollbar {
    display: none;
}


#content {
  display: grid;
  //grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  height: calc(100% - 59px);  //background-size: 100%;
  overflow-y: auto;
  .left{
    color: $fc1;
    font-size: 1.5vh;
    padding: 5px;
    display: grid;
    background-color: #E9B000;
    //background-size: cover;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-row: 1/3;
    span{
      font-weight: $fw-l;
    }
  }
  .right{
    align-self: center;
  }

  .hire-btn{
    margin: 0 auto;
    text-decoration: none;
    padding: 1em 2em;
    font-size: 18px;
    letter-spacing: .1em;
    background-color: $color4;
    color: $fc1;
    border-radius: 3px;
    &:hover{
      background-color: $color2;
      color: $fc2;
    }

  }

}

@media screen and (max-width: 425px) {
    #content{
      grid-template-columns: 1fr;
    }
    .site-nav--open,
    .site-nav {
    width: 100%;
    text-align: center;
  }

}
