header {
  background-color: $color5;
  padding: 1em .5em;
  position: relative;
  z-index: 50;
  a,h1 {
    color: $fc2;
  }
  &::after{
    content:" ";
    clear:both;
    display:block;
  }
  h1{
    font-weight: $fw-b;
  }
}

.logo{
  color: $color1;
  float:left;
  font-size: 1.5rem;
  padding-left: 5px;
  margin:0px;
  text-transform: uppercase;
  letter-spacing: .1em;
  span{
    font-weight: $fw-l;
;
  }
}

.site-nav{
  position: absolute;
  top:100%;
  right:0;
  height: 0px;
  overflow: hidden;
  transition: all 1s ease;

  ul{
    list-style: none;
    margin:0;
    padding:0;
  }
  li{
    border-bottom: 1px solid $color4;
    &:last-child{
      border-bottom: none;
    }
  }

  a{
    text-decoration: none;
    padding: 2em 6em;
    display: block;
    color: $color1;
    background-color: $color5;
    text-transform: uppercase;
    &:hover,
    &:focus{
      background: $color1;
      color: $color5;
    }
  }
}

.site-nav--open{
  height: 250px;
}

.menu-toggle {
  padding: .7em;
  position: absolute;
  top: .75em;
  right: .75em;
  cursor: pointer;
  .hamburger,
  &::before,
  &::after{
     content: " ";
     display: block;
     height: 3px;
     width: 1.75em;
     border-radius: 3px;
     background: $color4;
     transition: all ease-in-out 500ms;
  }
  &::before{
    transform: translateY(-6px);
  }

  &::after{
    transform: translateY(6px);
  }

}

.open{
  .hamburger{
    opacity:0;
  }
  &::before{
    transform: translateY(3px) rotate(45deg);
  }
  &::after{
    transform: translateY(-3px) rotate(-45deg);

  }
}
