<% include src/partials/header %>

<div id="about-content">

<div class="circle"></div>

<div class="about-text">
  <h1>JAKE ACALIN</h1>
  <h2>FRONT <span>END</span> WEB DEVELOPER</h2>
  <h2>NEW YORK CITY</h2>
  <p>
    I am a California transplant currently living in Park Slope Brooklyn.
    I first discovered programming while in college studying Cogntive Science.
    It didn't take long for me to realize
    that coding was something I really enjoyed, and decided not long after my first introductory computer science course
    that coding was the profession that I would pursue.
  </p>
  <p>
    Soon there after, I applied for, and became a member of the High Level Perception Labortory at UC Santa Cruz.
    While working as a research assistant, I coded an experiment using the python programming language. Since then,
    I have focused primarly on web development, honing my skills in HTML, CSS, and Javascript.
  </p>
  <p>
    I hope to be employed as a Full Stack Web Developer one day, potentially fusing my love for the brain with
    my passion for web design. I'm currently looking for an entry level developer role, where I can utilize my skills
    and grow into a great programmer.
  </p>
</div>

</div>

<% include src/partials/footer %>
