
<% include src/partials/header %>
<div id="content">
<div class="left">
    <h1>MY NAME IS <span>JAKE<span></h1>
    <h3>I'm a Front End Web Developer</h3>
    <h2>Living in <span>New York City<span></h2>
    <h3>This is My Portfolio</h3>
    <a class="hire-btn" href="#">HIRE ME</a>
</div>

<div class="right">
  <!-- <img src="src/img/Lo_Fi_Jake.png" alt="" style="width:100%; height:auto"> -->
</div>
</div>

<% include src/partials/footer %>
