
<% include src/partials/header %>

<div class="left">
    <h1>MY NAME IS <span>JAKE<span></h1>
    <h3>I'm a Front End Web Developer</h3>
    <h2>Living in <span>New York City<span></h2>
    <h3>This is My Portfolio</h3>
</div>

<div class="right">
</div>

<% include src/partials/footer %>
